<script type="text/javascript" language="JavaScript">
function HidePart(d) { document.getElementById(d).style.display = "none";  }
function ShowPart(d) { document.getElementById(d).style.display = "block"; }
function CheckboxChecked(b,d)
{
   if(b) { ShowPart(d); }
   else  { HidePart(d); }
}
</script>

<div class="container">
    <div class="signins">
    <h3>Login</h3>
        <form action="/users/login" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="email" name="user[email]" placeholder="Email Address" class="form-control">
            <input type="password" name="user[password]" class="form-control" placeholder="Password" minlength="6">
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
        <% if flash[:login] %>
        <div class="alert alert-danger">
            <% flash[:login].each do |error| %>
                <p><%= error %></p>
            <% end %>
        </div>
        <% end %>
        <% if flash[:errors] %>
        <div class="alert alert-danger">
            <% flash[:errors].each do |error| %>
                <p><%= error %></p>
            <% end %>
        </div>
        <% end %>
    </div>
    <div class="signins">
    <h3>Register</h3>
        <form action="/users/create" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="text" name="user[email]" placeholder="Email Address" class="form-control">
            <input type="password" name="user[password]" class="form-control" placeholder="Password">
            <input type="password" name="user[password_confirmation]" class="form-control" placeholder="Confirm Password">
<script type="text/javascript" language="JavaScript">
function HidePart(d) { document.getElementById(d).style.display = "none";  }
function ShowPart(d) { document.getElementById(d).style.display = "block"; }
function CheckboxChecked(b,d)
{
   if(b) { ShowPart(d); }
   else  { HidePart(d); }
}
</script>

<p>
<label>
  <input 
   type="checkbox" 
   name="mycheckbox" 
   value="yes" 
   onclick="CheckboxChecked(this.checked,'checkboxdiv')"
  >
  Check if you are an Admin
</label>
</p>

<div id="checkboxdiv" style="display:none">
<input type="text" name="user[code]" placeholder="Enter Code" class="form-control">
</div>

        <input type="submit" value="Register" class="btn btn-primary">
</form>


<script type="text/javascript">
CheckboxChecked(document.myform.mycheckbox.checked,'checkboxdiv');
</script>
        <% if flash[:register] %>
        <div class="alert alert-danger">
            <% flash[:register].each do |error| %>
                <p><%= error %></p>
            <% end %>
        </div>
        <% end %>
    </div>
    <div class="signinimage"></div>
</div>